
button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    background-color: #0056b3;
}